body{
    background: #1d1d1d;
    font-family: heattenschweiler;
    text-align: center;
}

h1 {
    color: #ffffff;
    margin-left: 15px;
    font-size: larger;
}

p {
    color: #ffffff;
    margin-left: 20px;
}

#lay01 {
    position: absolute;
    top: 400px;
    background: linear-gradient(180deg,#000000,#00000000);
    width: 100%;
    height: 300px;
}

#lay02 {
    background: #2d2d2d;
    max-width: 1300px;
    width: 100%;
    height: 500px;
    margin: auto;
    text-align: left;
}

a {
    display: inline-block;
    vertical-align: bottom;
    line-height: 0em;
    box-shadow: 5px 5px  #000000;
    margin:20px;
}
