body{
    background: #1d1d1d;
    font-family: heattenschweiler;
}
p{
    color:#ffffff;
    margin-left: 10px;
    font-size: larger;
}
#home1{
    background: #000000;
    text-align: center;
}

#lay1{
    margin : 0 auto;
    margin-top: -19px;
    background: #111111;
    text-align: left;
    max-width: 1200px;
}

#home2{
    text-align: center;
}



button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    max-width: 500px;
    cursor: pointer;
}